<section class="mb-12">
  <form
    [formGroup]="filterForm"
    (submit)="filterResults()"
    class="flex max-w-lg items-center gap-x-3">
    <input
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-500 focus:border-violet-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500"
      type="text"
      placeholder="Filter by city"
      formControlName="inputValue" />
    <button
      type="submit"
      class="text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-violet-600 dark:hover:bg-violet-700 focus:outline-none dark:focus:ring-violet-800">
      Search
    </button>
  </form>
</section>

<section class="grid grid-cols-4 gap-10 justify-around">
  @for (
    housingLocationItem of filteredLocationList;
    track housingLocationItem.id
  ) {
    <app-housing-location
      [housingLocation]="housingLocationItem"></app-housing-location>
  }
</section>
