<a
  class="block rounded-2xl overflow-hidden bg-violet-50 opacity-80 hover:opacity-100 transition-opacity"
  [routerLink]="['/details', housingLocation.id]">
  <img
    class="h-64 w-full object-cover"
    [src]="housingLocation.photo"
    alt="Exterior photo of {{ housingLocation.name }}"
    crossorigin />
  <div class="p-4">
    <h2 class="font-semibold text-lg mb-2">{{ housingLocation.name }}</h2>

    <p class="flex gap-x-2 mb-2">
      <img src="/assets/location-pin.svg" alt="location-pin" />
      {{ housingLocation.city }}, {{ housingLocation.state }}
    </p>

    <span class="font-medium text-blue-600 dark:text-blue-500">
      Learn More
    </span>
  </div>
</a>
